.table-container {
  td,
  th {
    text-align: left;
  }
  th {
    
    background: rgb(40, 136, 254);
    color: white;
  }
  tr:nth-child(even) {
    background: #ffffff;
  }
  tr:nth-child(odd) {
    background: #d8d8d85b;
  }
  .edit-btn {
    width: 2rem;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: transparent;
  }
  svg {
    width: 2rem;
  }
}
.tableFixHead {
      width: 500px;
      table-layout: fixed;
      border-collapse: collapse;
    }
      .tableFixHead tbody {
      display: block;
      width: 100%;
      overflow: auto;
      height: 50px;
    }
    .tableFixHead thead tr {
      display: block;
    }
    .tableFixHead th,
    .tableFixHead  td {
      padding: 5px 10px;
      width: 200px;
    }
    th {
      background: #ABDD93;
    }