/**
css for print pages
*/
.print-page {
  color: black;

  .box {
    border: rgb(214, 27, 27) 1px solid;
    padding: 1rem;
    min-height: 200px;
    border-radius: 5px;
    .param {
      display: inline-block;
    }
  }
}
