
.facilities  {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.facilities {
    width: 700px;
}
.facilities p {
    font-size: 1rem;

}
.facilities select{
    margin-bottom: 3.5rem;
}
.facilities span {

    font-size: 1.5rem;
    font-weight: bold;
}