
.item  {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.item {
    width: 700px;
}
.item p {
    font-size: 1rem;

}

.item span {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .item {
        width: 100%;
    }
}