.new-message-page {
  label {
    margin-top: 1.5rem;
  }
  .save-btn {
    height: 3rem;
  }
}
.message-page {
  .save-btn {
    height: 3rem;
    width: 12rem;
  }
}
.multi-select {
  color: black;
}
