.levels {
    padding:  4rem;

}

.sub-facilities {
    padding: 1rem 3.2rem;

}

@media (max-width: 768px) {
    .levels {
        margin: 2rem 0;
        padding: 0;}



    .sub-facilities {
        padding: 0;
        margin: 0;
    }
}

