
.charts{
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;

}



 .warning {
    margin :4rem;
}
 .tables{
    margin :4rem;
 }

 @media (max-width: 768px) {
     .charts{
         flex-direction: column;
         padding: 2rem;
     }
     .warning{
         margin :0;

     }
     .tables {
      margin: 0;
     }

 }
