.excel-page {
  color: black;
  a {
    background: white;
    border: 1px solid #ababab70;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    color: black;
    text-decoration: none;
  }
}
