.pagination p {
  margin: 0;
}
.pagination {
  display: block;
}
input {
  margin: 0 0.5rem;
}
svg {
  opacity: 0.4 !important;
}
svg:hover {
  opacity: 1 !important;
}
tr:nth-child(odd) {
  background: #ffffff;
}
tr:nth-child(even) {
  background: #d8d8d85b;
}
