.pagination p {
  margin: 0;
}
.pagination {
  display: block;
}
input {
  margin: 0 0.5rem;
}
svg {
  opacity: 0.4 !important;
}
svg:hover {
  opacity: 1 !important;
}
tr:nth-child(odd) {
  background: #ffffff;
}
tr:nth-child(even) {
  background: #d8d8d85b;
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -3px;
  top: 0px;
}

input:invalid {
  border: 2px solid #28a745;
}

input:invalid + span::before {
  /* content: '✖';
  color: #dc3545; */
   content: '✓';
  color: #28a745;
}

input:valid + span::before {
  content: '✓';
  color: #28a745;
}